.filme__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  gap: 20px;

  @media screen and (min-width: 730px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.filme__list li {
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.05);
  }

  img {
    display: block;
  }
}
