@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/RobotoCondensed-VariableFont_wght.woff2")
      format("woff2"),
    url("../../fonts/RobotoCondensed-VariableFont_wght.ttf");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../fonts/OpenSans-VariableFont_wdth\,wght.woff2") format("woff2"),
    url("../../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
