.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-white);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.header__nav-list {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px; /* Höhe der Header-Leiste */
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: var(--color-background);
  padding: 20px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.header__nav-list.active {
  display: flex;
}

@media screen and (min-width: 960px) {
  .hamburger.active .bar:nth-child(2) {
    opacity: 1;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: none;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: none;
  }

  .header__nav-list {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}
