:root {
  // ***** Colors *****
  --color-white: #fff;
  --color-accent: #b61313;
  --color-background: #141316;

  // ***** Fonts *****
  --font-roboto: "RobotoCondensed", sans-serif;
  --font-open-sans: "OpenSans", sans-serif;

  // ***** Font Weights *****
  --font-weight-reg: 400;
  --font-weight-bold: 700;
}
